[submodule "foundry-example/lib/forge-std"]
	path = foundry-example/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-example/lib/openzeppelin-contracts"]
	path = foundry-example/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
